<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sell Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<<<<<<< HEAD:views/buy.handlebars
  <link rel='stylesheet' href="../public/css/buy.css">
=======
  <link rel='stylesheet' href="./css/buy.css">
>>>>>>> 57f0e226be1604b501738eb09ad6b1b81c0c15b8:public/buy.html
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 
</head>
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Flamengo</h1>      
    <p>Best Priced, Vission & Values</p>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="./homepage.html">Home</a></li>
        <li><a href="./sell.html">Sell</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon"></span>Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Enter your Zipcode " aria-label="" aria-describedby="button-addon2">
  <button class="btn btn-outline-secondary btn-outline-warning btn-success" type="button" id="button-addon2">Search</button>
</div>

<div class="container">  
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Guitar</div>
        <div class="panel-body"><img src="../Assets/shoes.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">This shoe is near deadstock, a well rounded pair of shoes that is great for running.</div>
        <h3>$400</h3>
        <button type="button" class="btn btn-danger">Purchase</button>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-danger btn-danger">
        <div class="panel-heading">Guitar</div>
        <div class="panel-body"><img src="../Assets/shoes.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer"></div>
        <h3>$400</h3>
        <button type="button" class="btn btn-danger">Purchase</button>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">Shoes</div>
        <div class="panel-body"><img src="../Assets/shoes.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer"></div>
        <h3>$400</h3>
        <button type="button" class="btn btn-danger">Purchase</button>
      </div>
    </div>
  </div>
</div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
          <div class="panel-heading">High Heels</div>
          <div class="panel-body"><img src="../Assets/shoes.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer"></div>
          <h3>$400</h3>
        <button type="button" class="btn btn-danger">Purchase</button>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">T-Shirt</div>
        <div class="panel-body"><img src="../Assets/shoes.jpg" class="img-responsive" style="width:100%"  alt="Image"></div>
        <div class="panel-footer"></div>
        <h3>$400</h3>
        <button type="button" class="btn btn-danger">Purchase</button>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">Playstation 4</div>
        <div class="panel-body"><img src="../Assets/shoes.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer"></div>
        <h3>$400</h3>
        <button type="button" class="btn btn-danger">Purchase</button>
      </div>
    </div>
  </div>
</div><br><br>

<footer class="container-fluid text-center">
  <p> Copyright Flamengo 2021</p>  
  
</footer>

</body>
</html>

